@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

.footer {
  a {
    color: darken(white, 10%);
  }
  .icon-container {
    color: darken(white, 50%);
    background-color: darken(white, 10%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    &:hover {
      background-color: darken(white, 50%);
      color: white;
    }
  }
  .icon-disabled {
    color: darken(white, 25%);
    background-color: darken(white, 5%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
  }
}
