@import '../../../assets/scss/02_base/colors';

nav {
  width: 100%;
  font-size: 19px;
  .navbar-item {
    color: white;
  }

  .navbar-brand {
    margin-left: 1rem;
    @media (min-width: 857px) {
      margin-left: 7rem;
    }

    img {
      width: 10rem;
      height: 3rem;
    }
  }

  .navbar-line {
    border-left: 1px solid black;
    padding-left: 2px;
  }

  .dropdown-menu {
    width: 2rem;
  }
  .navbar-divider {
    border: 1px solid $dark;
    background-color: $dark;
    height: 2rem;
    margin: 0;
    align-self: center;
  }

  .navbar__registration {
    button {
      font-size: 13px;
    }
  }
}
