@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/variables';
$energy_images: $images_url + 'projects/energy/';

.enabled {
  &:hover {
    top: -20px;
  }
}

.projectCard {
  overflow: hidden;
  width: 20rem;
  height: 41rem;
  p,
  i {
    color: $dark;
  }
  background-color: #f8f5f5;
  position: relative;
  margin: 1rem 2rem;
  box-shadow: -4px 14px 47px -9px rgba(25, 36, 64, 1);

  position: relative;
  top: 0;
  transition: 0.75s;

  &__image {
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__categories {
    position: absolute;
    top: -0.1rem;
    left: 1.5rem;
    display: flex;
    justify-content: flex-start;
    div {
      width: 2rem;
      height: 4rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .solar {
      background-image: url($energy_images + 'sun.png');
    }
    .eolic {
      background-image: url($energy_images + 'eolic.png');
    }
    .oil {
      background-image: url($energy_images + 'oil.png');
    }
  }
  &__body {
    position: relative;
    padding-bottom: 2rem;
    min-height: 25rem;
    &--unavailable {
      position: absolute;
      top: 0;
      background-color: #2a2d33;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      p {
        color: #babfc6;
        margin-bottom: 7rem;
      }
    }
  }
  &__content {
    padding: 0 2rem;
    width: 100%;
    height: 11.5rem;
    .ubication {
      width: 100%;
      text-align: right;
      color: #808789;
      font-size: 10px;
      padding-right: 1.5rem;
    }
    div {
      .title {
        font-size: 20px;
      }
      font-size: 11px;
    }
  }
  &__features {
    padding: 0 2rem;
    .fa {
      margin-right: 12px;
    }
    p {
      font-size: 13px;
      margin-bottom: 0.2rem;
    }
  }
  &__progress {
    margin-top: 5%;
    p {
      margin-left: 5%;
    }
    progress {
      width: 90%;
    }
  }

  &__button {
    margin-top: 0.4rem;
    width: 10rem;
    height: 2.5rem;
    background-color: darken($primary, 30);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover {
      background-color: white;
      color: darken($primary, 30);
    }
  }
  &__button--unavailable {
    margin-top: 0.4rem;
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a,
    p {
      font-size: 10px;
      text-decoration: none;
    }
  }
}
