@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/variables';
$energy_images: $images_url + 'projects/energy/';

.projectCard {
  overflow: hidden;
  width: 20rem;
  height: 36rem;
  p,
  i {
    color: $dark;
  }
  background-color: #f8f5f5;
  position: relative;
  margin: 1rem 2rem;
  box-shadow: -4px 14px 47px -9px rgba(25, 36, 64, 1);

  position: relative;
  top: 0;
  transition: 0.75s;
  &:hover {
    top: -20px;
  }

  &__image {
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__categories {
    position: absolute;
    top: -0.1rem;
    left: 1.5rem;
    display: flex;
    justify-content: flex-start;
    div {
      width: 2rem;
      height: 4rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .solar {
      background-image: url($energy_images + 'sun.png');
    }
    .eolic {
      background-image: url($energy_images + 'eolic.png');
    }
    .oil {
      background-image: url($energy_images + 'oil.png');
    }
  }
  &__body {
    position: relative;
    padding-bottom: 2rem;
    min-height: 21rem;
    &--unavailable {
      position: absolute;
      top: 0;
      background-color: #2a2d33;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      p {
        color: #babfc6;
      }
    }
  }
  &__content {
    padding: 0 2rem;
    width: 100%;
    height: 11.5rem;
    .ubication {
      width: 100%;
      text-align: right;
      color: #808789;
      font-size: 10px;
      padding-right: 1.5rem;
    }

    div {
      .title {
        font-size: 20px;
      }
      font-size: 10px;
    }
  }
  &__badges {
    height: 4.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    .badge {
      width: 3.5rem;
      height: 100%;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      img {
        width: 3rem;
        height: 3rem;
      }
      &__text--little {
        font-size: 6px;
      }
      &__circle {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2.5px solid $dark;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .divisor {
      background-color: $dark;
      height: 100%;
      width: 2px;
    }
  }
  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a,
    p {
      font-size: 10px;
      text-decoration: none;
    }
  }
}
