.infoSection {
  margin-top: 4.3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35rem;
  display: flex;
  align-items: center;
  .title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
  }
}
