@import '../../../assets/scss/02_base/colors';
.infoSection {
  margin-top: 4.3rem;
  position: relative;
  padding: 4rem 3rem 8rem 3rem;
  @media (min-width: 1200px) {
    justify-content: center;
  }
  &__container {
    order: 1;
  }
  &__title {
    max-width: 40em;
    @media (min-width: 1200px) {
      width: 40em;
      position: absolute;
      &__text {
        width: auto;
        position: absolute;
        left: -5%;
      }
      &__sub {
        padding-left: 3%;
      }
    }
    .title {
      font-size: 48px;
      font-family: montserrat-bold;
    }
    p {
      font-size: 28px;
    }
    @media (max-width: 826px) {
      .title {
        font-size: 36px;
      }
      p {
        font-size: 20px;
      }
    }
    @media (max-width: 636px) {
      .title {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  p {
    color: $dark;
  }
  &__subtext {
    max-width: 25rem;
    @media (min-width: 1200px) {
      padding-top: 37%;
    }
    @media (max-width: 826px) {
      font-size: 15px;
    }
    @media (max-width: 636px) {
      font-size: 12px;
    }
  }
  @media (max-width: 612px) {
    padding: 3em 10%;
    &__subtext {
      width: auto;
    }
  }

  @mixin setColor($color) {
    color: $color;
    border-color: $color;
    background-color: white;
    &:hover {
      background-color: $color;
      color: white;
    }
  }
  #financeBtn {
    @include setColor(#23cee0);
  }
  #registerBtn {
    @include setColor(#247dff);
  }
  &__button {
    margin: 0.5rem 1rem;
    border-style: solid;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
    transition: 0.5s;
  }
  &__img {
    margin-left: 10%;
    width: 22rem;
    height: auto;
    order: 1;
    @media (max-width: 1191px) {
      order: 0;
      margin: 0 2rem 0 0;
    }
  }
}
