@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

.blog {
  .background {
      // Padding
    padding-top: 12em;
    padding-bottom: 12em;
    // Image style
    background-image: url("../../../assets/images/forestLake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h1 {
      font-size: 400%;
    }
  }
}
