@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

$step-height: 480px;
$how_width: 600px;

$how_height_small: 240px;
$how_width_small: 300px;

.how{

  .step{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: $step-height;

    h1{
      height: 2.5em;
    }

    p{
      height: 3.5em;
    }

    @media only screen and (max-width: 1216px) {
      h1,p{
        height: auto;
      }
    }
  }

  .centerDiv{
    @include flexCenterDir(row);
  }
  
  #tabs-with-content .tabs:not(:last-child){
    margin-bottom: 0;
  }
  
  #tabs-with-content{
    margin: 2em 8rem 2em;
  
    .tab-content {
      margin: 2em;
      padding: 1rem;
      display: none;
    }
    .tab-content.is-active {
      display: block;
    }
  }
  
  @media only screen and (max-width: 1219px) {
    #tabs-with-content{
      margin: 2em 0rem 2em;
    
      .tab-content {
        margin: 0em;
      }
    }
  }
  
  
  .black-link {
    color: black;
  }

}

