@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

.impact {
  .impactCard {
    img {
      height: 7rem;
      width: auto;
    }
    &__content {
        @media (min-width: 1000px) {
          padding: 0 6em 0;
        }
    }
  }
}
