@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

.impact {
  .icon-container {
    width: 100%;
    .icon-image {
      height: 70px;
      width: 70px;
    }
  }
}