@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/02_base/screenSizes';
@import '../../../assets/scss/03_utils/custom';

.infoSection {
  background-image: url('../../../assets/images/banner-inv.jpg');
  margin-top: 4.3rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 41rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-blend-mode: luminosity;
  @include screenQuery($medium - 30px) {
    padding: 0 4rem;
  }
  .title {
    font-size: 3.125rem;
    text-shadow: -0.5px 0 $dark, 0 0.5px $dark, 0.5px 0 $dark, 0 -0.5px $dark;
  }
}
