@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

.section {
  width: 100%;
}
.info {
  .content-tag {
    background-color: white;
    margin: 0 20px 0;
    padding-top: 5px;
    border-style: solid;
    border: 3px solid grey;
    height: 45px;
    width: 160px;
    display: inline-block;
  }

  .btn-selected {
    background-color: lighten($color: grey, $amount: 40);
  }

  $section-width: 350px;
  $section-height: 370px;
  $section-margin: 8px;

  .sections-container {
    .section-container {
      margin: $section-margin;
      width: $section-width;
      height: $section-height;
      .section-image {
        height: auto;
        width: 160px;
      }
      .section-text {
        height: 100px;
        line-height: 95%;
      }
    }

    .sectionLg-container {
      margin: $section-margin;
      width: (($section-width) * 2 + ($section-margin) * 2);
      height: $section-height;
      .section-image {
        height: auto;
        width: 160px;
      }
      .section-text {
        width: 320px;
        height: 100px;
        line-height: 95%;
      }
    }
  }
}
