.info {
  .blocks-container {
    .content-tag {
      background-color: white;
      margin: 6px 20px 0;
      border-style: solid;
      border: 3px solid grey;
      height: 60px;
      width: 210px;
      font-size: 18px;
    }
    .btn-selected {
      background-color: lighten($color: grey, $amount: 40);
    }
  }

  $section-width: 350px;
  $section-height: 380px;
  $section-margin: 8px;

  .sections-container {
    margin: 0 5px 0;
    .section-image {
      height: auto;
      width: 160px;
    }

    .section-container {
      margin: $section-margin;
      width: $section-width;

      height: $section-height;
      .section-text {
        height: 100px;
        line-height: 95%;
      }

      @media (max-width: 856px) {
        width: 100%;
        .section-text {
          width: 250px;
        }
      }
    }

    .sectionLg-container {
      margin: $section-margin;
      width: (($section-width) * 2 + ($section-margin) * 2);
      height: $section-height;

      .section-text {
        width: 350px;
        height: 100px;
        line-height: 95%;
      }
      .section-title {
        margin-left: 5px;
        width: 230px;
        align-self: flex-start;
        justify-content: flex-start;
      }
      .cont-lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 856px) {
        height: $section-height * 2;
        width: 100%;

        .section-title {
          align-self: center;
          margin-left: 0;
          width: auto;
          align-self: center;
          justify-content: center;
          h2{
            text-align: center;
          }
        }
        .section-text {
          width: 250px;
        }

        .cont-lg {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
