@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/02_base/typography';
@import '../../../assets/scss/03_utils/custom';

.phraseSection {
  position: relative;
  padding: 3rem;
  &__title {
    @media (min-width: 1316px){
      position: absolute;
      width: 44em;
      &__text{
        width: auto;
        position: absolute;
        left: -5%;
      }
    }
    .title {
      font-size: 32px;
      font-family: montserrat-bold;
    }
    p {
      font-size: 26px;
    }
  }
  p{
    color: $dark;
  }
  &__subtext {
    width: 33rem;
    @media (min-width: 1316px){
      padding-top: 15%;
    } 
  }
  @media (max-width: 612px){
    padding: 3em 10%;
    &__subtext{
      width: auto;
    }
  }
}
