@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

.projects {
  .projects-container{
    @media (min-width: 520px){
      margin: 0 8em 0;
    }
  }
  
  .card {
    height: 100%;
    h2{
      color: darken($info,15%);
    }
    h3 a{
      color: darken($info,30%);
      &:hover {
        color: $info;
      }
    }
  }
  .card-image{
    img{
      filter: brightness(105%);
    }
  }
  .filler_card {
    @include flexCenterOpacity(0.1);
  }
}
