@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/03_utils/custom';

.supporters {
  .supporter_logo {
    display: block;
    max-width: 200px;
    max-height: 95px;
    width: auto;
    height: auto;
  }
}
