@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@font-face {
  font-family: 'montserrat-regular';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
}

$family-primary: montserrat-regular;
$family-secondary: montserrat-semibold;

.title,
.subtitle {
  font-family: $family-secondary;
}
