@font-face {
    font-family: 'finador';
    src: url(../../typo/Finador/Finador-Regular.ttf);
    font-style: normal
}
@font-face {
    font-family: 'finador-black';
    src: url(../../typo/Finador/Finador-Black.ttf);
    font-style: normal
}

@font-face {
    font-family: 'hknova-medium';
    src: url(../../typo/Nova/TTF/HKNova-Medium.ttf);
    font-style: normal
}
@font-face {
    font-family: 'spartan-black';
    src: url(../../typo/Spartan/Spartan-Black.ttf);
    font-style: normal
}

$family-serif: finador;
$family-primary: $family-serif;
$family-secondary: finador-black;

.title, .subtitle{
    font-family: $family-secondary;
}
