@font-face {
  font-family: 'montserrat-regular';
  src: url(../../typo/montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url(../../typo/montserrat/Montserrat-Regular.ttf);
  font-style: semibold;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url(../../typo/montserrat/Montserrat-Bold.ttf);
}

$family-primary: montserrat-regular;
$family-secondary: montserrat-semibold;

.title,
.subtitle {
  font-family: $family-secondary;
}
.monserrat-bold {
  font-family: montserrat-bold;
}