@import '../../../../assets/scss/02_base/colors';
@import '../../../../assets/scss/03_utils/variables';
$images: $images_url + 'home/';

.launch {
  .modal-content {
    width: 69%;
    height: 100%;
    background-image: url($images + 'cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__logo {
    width: 8rem;
    height: auto;
    margin: 2rem;
    @media (max-width: 700px) {
      margin: 1rem;
    }
  }

  &__close {
    left: 80%;
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    background-image: url($images + 'close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none;
  }

  &__head {
    position: absolute;
    width: 100%;
  }

  &__container {
    margin-top: 2rem;
    @media (max-width: 750px) {
      margin-top: 4rem;
    }
  }

  &__icon {
    margin: 1rem;
    width: 15%;
    @media (max-width: 750px) {
      width: 20%;
    }
    height: auto;
  }

  &__title {
    font-size: 350%;
    padding: 0 5%;
    @media (max-width: 1785px) {
      font-size: 200%;
    }
    @media (max-width: 750px) {
      font-size: 120%;
    }
  }

  &__name {
    margin: 0.5rem;
    width: 14rem;
    height: auto;
    @media (max-width: 750px) {
      width: 50%;
    }
  }

  &__line {
    border: 1px solid $primary;
    margin-top: 2px;
    margin-bottom: 2rem;
    width: 30%;
    @media (max-width: 1785px) {
      width: 60%;
    }
  }

  &__text {
    font-weight: lighter;
    padding: 0 25%;
    @media (max-width: 600px) {
      padding: 0 10%;
    }
  }

  &__button {
    margin: 2.5rem 0;
    width: 10rem;
    height: 2.5rem;
    background-color: $dark;
    color: $primary;
    cursor: pointer;
    border: none;
    outline: none;
  }

  &__countdown {
    width: 80%;
    .title {
      font-size: 400%;
    }
    @media (max-width: 638px) {
      width: 90%;
      .title {
        font-size: 200%;
      }
    }
    .countdown__item {
      width: 15%;
      @media (max-width: 1000px) {
        width: 24%;
      }
      @media (max-width: 530px) {
        width: 48%;
      }
    }
  }
}
