.caracteristics {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .caracteristics {
    li {
      display: inline;
    }
  }
}

.sticky-top {
  position: sticky;
  -webkit-position: sticky;
  top: 70px;
}

.project {
  padding-top: 65px;
}
