@import '../../../assets/scss/02_base/colors';
@import '../../../assets/scss/02_base/typography';
@import '../../../assets/scss/03_utils/variables';

.project {
  &__percentage i {
    $pecentage-size: 10rem;
    width: $pecentage-size;
    height: $pecentage-size;
    border-radius: 50%;
    border: 2px solid $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
  }
  &__button {
    margin: 10px 20px 0;
    border-style: solid;
    border: 3px solid grey;
    height: 50px;
    width: 200px;
  }
  .modal {
    &__icon {
      width: 200px;
      height: auto;
    }
    &__pointer {
      cursor: pointer;
    }
    &__close {
      width: 2rem;
      height: 2rem;
      background-image: url($images_url + 'home/close.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      border: none;
      outline: none;
    }
    .btn-primary {
      background-color: $dark;
      color: $primary;
      transition: 0.5s;
      &:hover {
        color: $dark;
        background-color: $primary;
      }
    }
  }

  &__details {
    h2 {
      padding-left: 10%;
    }
    p {
      padding-left: 20%;
    }
    img {
      max-width: 100px;
    }
  }
  &__pay {
    width: 300px;
  }
}
