.project {
  &__galleryimg {
      height: 500px;
      width: auto;
      background-color: white;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  &__lstIcon {
    margin-right: 5px;
    height: 30px;
    width: auto;
  }
  &__list {
    list-style-type: none;
    margin-left: 12%;
  }
  .small-fixed {
    width: 60%;
  }
}
