@import '../../../assets/scss/02_base/colors';
.project {
  &__gallery {
    width: 100%;
    height: auto;

    .swiper-button-next,
    .swiper-button-prev {
      color: $dark;
    }
    .swiper-pagination-bullet-active {
      background-color: $dark;
    }

    $margin-arrow1: 37px;
    $margin-arrow2: $margin-arrow1 + 1px;
    .swiper-container {
      padding-left: $margin-arrow1;
      padding-bottom: 4%;
    }
    .swiper-container::before {
      content: '';
      display: block;
      background: #fff;
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: $margin-arrow2;
      z-index: 9;
    }
    .swiper-container::after {
      content: '';
      display: block;
      background: #fff;
      right: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: $margin-arrow2;
      z-index: 9;
    }

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      @media (max-width: 600px) {
        height: 200px;
      }
      @media (max-width: 400px) {
        height: 130px;
      }
    }
  }

  &__lstIcon {
    margin-right: 5px;
    height: 30px;
    width: auto;
  }
  &__list {
    list-style-type: none;
    margin-left: 6%;
  }
  .small-fixed {
    width: 60%;
  }
}
