@import '../../assets/scss/02_base/colors';
@import '../../assets/scss/03_utils/variables';

.payment {
  margin-top: 6rem;
  //General
  &__progress {
    @media (min-width: 840px) {
      padding: 0 11rem;
    }
  }
  &__button {
    font-size: 20px;
    border: 4px solid $dark;
    width: 10rem;
    transition: 0.5s;
    &:hover {
      background-color: $dark;
      color: $primary;
      border: 1px solid $primary;
    }
    &:active,
    &:focus,
    &:focus:active {
      border: 4px solid $dark;
      box-shadow: none !important;
    }
  }

  //Info step
  .info {
    &__container {
      @media (min-width: 891px) {
        padding-left: 17%;
      }
    }
    &__icon {
      img {
        height: auto;
        width: 10rem;
      }
    }
    &__text {
      p {
        width: 30rem;
        padding-left: 7%;
      }
    }
    @media (max-width: 890px) {
      &__left,
      &__right {
        flex-direction: column;
        align-items: center;
      }
      &__text {
        p,
        h2 {
          width: auto;
          text-align: center;
        }
      }
    }
  }

  //Pay options
  .pay {
    margin: 5rem 0;
    &__option {
      margin: 5rem 2rem 0;
      button {
        background-color: transparent;
        width: 6rem;
        height: 6rem;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        &:active,
        &:focus,
        &:focus:active {
          border: 4px solid $dark;
          box-shadow: none !important;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      p {
        margin-top: 3rem;
        font-weight: bold;
      }
      input {
        margin-top: 2.5rem;
        width: 5rem;
      }
    }
    @media (max-width: 641px) {
      margin: 2rem 0;
      &__option {
        margin: 2rem 1rem 0;
        p {
          margin-top: 1rem;
          font-weight: bold;
        }
        input {
          margin-top: 1rem;
          width: 5rem;
        }
        button {
          width: 4.5rem;
          height: 4.5rem;
        }
      }
    }
    .selected {
      button {
        border: 4px solid $dark;
      }
      p {
        margin-top: 2rem;
        font-size: 30px;
      }
    }
  }
  // Medal
  .category {
    &__items {
      img {
        margin: 3rem;
        width: 15rem;
        height: auto;
      }
      padding-left: 20%;
      padding-right: 30%;
      @media (max-width: 1494px) {
        padding: 0 20%;
      }
      @media (max-width: 910px) {
        padding: 0 5%;
      }
      @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        padding: 0 30%;
        img {
          width: 10rem;
        }
        p {
          text-align: center;
        }
      }
      @media (max-width: 654px) {
        padding: 0 20%;
      }
      @media (max-width: 437px) {
        padding: 0 5%;
      }
    }
  }

  // End
  .end {
    img {
      margin: 3rem;
      width: 25rem;
      height: auto;
    }
  }
}
