
@import '../../assets/scss/02_base/colors';

.project{
    margin-top: 60px;
    .columns{
        @media (min-width: 1024px){
            $margin-sides: 10em;
            margin-right: $margin-sides;
            margin-left: $margin-sides;
        }
    }
    &__main{
        margin-top: 4px;
        $padding-sides: 20px;
        padding: 0 $padding-sides 0;
    }
    &__side{
        margin-top: 6px;
    }
    
}