@import '../../assets/scss/02_base/colors';

.project {
  margin-top: 10px;
  &__banner {
    margin: 0px;
    width: 100%;
    height: auto;
    max-height: 715px;
    object-fit: cover;
    object-position: bottom;
  }
  .columns {
    @media (min-width: 1112px) {
      $margin-sides: 10em;
      margin-right: $margin-sides;
      margin-left: $margin-sides;
    }
    @media (max-width: 1111px) {
      $margin-sides: 1em;
      margin-right: $margin-sides;
      margin-left: $margin-sides;
    }
  }
  &__main {
    padding-top: 4px;
    padding-right: 5%;
    padding-left: 0%;
  }
  &__side {
    margin-top: 12px;
    $padding-sides2: 20px;
    padding: 0 $padding-sides2 0;
  }
  hr {
    margin: auto;
    width: 95%;
    height: 4px;
    background-color: $dark;
  }
}
