.team {
  margin-top: 3rem;
  &__text {
    height: 16rem;
  }
  &__title {
    padding-left: 12%;
    font-weight: bold;
    font-size: 400%;
  }
  &__members {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  &__member {
    height: 450px;
    width: 240px;
    margin: 20px;
    h1,
    h2,
    h3 {
      margin-top: 0.2rem;
    }
  }
  &__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
